<style type="text/css">
  .card-img-top {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}
</style>

<div class="card">
  <img class="card-img-top" src="assets/promo1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> Promo Flights! </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/flights" class="btn btn-warning">Register Now!</a>
  </div>
</div>