<style type="text/css">
  .card-img-top {
    width: 100%;
    height: 32vw;
    object-fit: cover;
}
</style>

<div class="card">
  <img class="card-img-top" src="assets/cebu.gif" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> Promo Flights! </h5>
    <p class="card-text">Get ready to book for as low as P1 base fare! Our #CEBSuperSeatFest 1ndependence Day Seat Sale to all destinations starts today until June 14 only!

Travel period: August 1-March 31! Book now! bit.ly/fb06122019

June12-13 (Online payments only)

12:00am-6:00am – Fly from Manila to Philippine destinations! Choose flights from Manila to Boracay, Basco, Bohol, Siargao, Tacloban, Bacolod, Iloilo, Cagayan de Oro, Davao, Cebu, Puerto Princesa, among others, and vice versa!

6:01am-12:00pm – Explore East Asia! Fly from the Philippines to Japan (Osaka, Tokyo, Nagoya, Fukuoka), China (Shanghai, Shenzhen, Beijing, Xiamen, Guangzhou), Korea, Hong Kong, Macau and Taiwan!

12:01pm-6:00pm – Fly from our hubs to Philippine destinations! Choose direct flights from Cebu, Clark, Davao, Iloilo, Cagayan de Oro to inter-island destinations such as Kalibo, Siargao, Tacloban, Camiguin, Clark, Legazpi, Dumaguete, among others, and vice versa!

6:01pm-11:59pm – Discover ASEAN, Dubai, Australia (Melbourne and Sydney) and Guam! ASEAN destinations include Singapore, Indonesia, Thailand, Malaysia, Vietnam, Brunei and Cambodia!

June 14 (Online payments and payment centers available)

All day – all remaining seats on sale!

No promo code needed. Check seat sale availability here: https://www.cebupacificair.com/pages/seat-sale-availability</p>
    <a href="/flights" class="btn btn-warning">Register Now!</a>
  </div>
</div>